/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}


/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 50px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #2f4050;
    border-right: 1px solid #eee;
  }
}

/*Style for drop down menu elements */
a {
  text-decoration:none;
  position: relative;
  display: block;
  padding-top: 7px;
  padding-bottom: 7px;
  color: #222222;
}
 a:hover {
  text-decoration:none;
  font-weight:bold;
  outline: 0;
  color: #222222;
}
a:focus {
  text-decoration:none;
  font-weight:bold;
  color: #222222;
}


/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}

/*Inactive buttons*/
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
  color: #222222;
}
.nav-sidebar > li > a:hover {
	text-decoration: none;
  color: #fff;
  background-color: #222222;
}
.nav-sidebar > li > a:focus {
  color: #fff;
  background-color: #222222;
}
.nav-sidebar > li > a:active {
  color: #fff;
  background-color: #222222;
}

/*Active buttons*/
.nav-sidebar > .active > a {
  padding-right: 20px;
  padding-left: 20px;
  color: #222222;
}
.nav-sidebar > .active > a:hover {
  color: #fff;
  background-color: #222222;
}
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #222222;
}


/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .serverFilters input.form-control{
  	display: block;
  }
}
@media (min-width: 991px) {
  .pull-right-desktop{
		float: right !important;
	}
}
.serverFilters{
	margin-bottom: 16px;
}
.main .page-header {
  margin-top: 0;
}

/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}


tfoot input {
    width: 100%;
    padding: 3px;
    box-sizing: border-box;
}

#dataGrid_length>label {
    right: 300px;
    position: absolute;
}

.no-padding{
	padding: 0 0 0 0;
}


/* Start by setting display:none to make this hidden.
   Then we position it in relation to the viewport window
   with position:fixed. Width, height, top and left speak
   for themselves. Background we set to 80% white with
   our animation centered, and no-repeating */
.loader {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
                url('/PerParserSPA/resources/images/ajax-loader.gif') 
                50% 50% 
                no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;   
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .loader {
    display: block;
}

span.filter{
	margin: 7px;
}

.navbarUl {
	list-style-type: none;
}

/*PerParser logo*/
.headerLogo {
  float: left;
  height: 50px;
  padding: 15px 15px;
  font-size: 18px;
  line-height: 20px;
  color: #9d9d9d;
  background-color: none;
}
.headerLogo:hover {
  float: left;
  height: 50px;
  padding: 15px 15px;
  font-size: 18px;
  line-height: 20px;
  color: #9d9d9d;
  background-color: none;
  font-weight:normal;
}